*{
    margin: 0;
    padding: 0;
}
header{
    background-color: green;
    border-radius: 20px;
    width: 100%;
    margin: auto;
    
}
header h2{
    color: aliceblue;
    padding: 30px;
    text-align: center;

}
header button{
    color: blue;
    border-radius: 20px;
    width: 10%;
    background: aqua;
    margin-left: 10px;
    
    
}

h2{
    text-align: center;
    font-size: 50px;
    padding: 0;
    padding-top: 10px;
}
.main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;

}
.content{
    width: 20%;
    height: 380px;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: .4s;
    background: #fff;

}
.content:hover{
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.16);
    transition: translate(0px,-8px);

}
img{
    width: 260px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.content h2{
    font-size: 14px;
    text-align: center;
    color: #000;
    margin: 20px;
}
.content a{
    text-align: center;
    font-size: 20px;
    color: blueviolet;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 50px;
   
}
