*{
    margin: 0;
    padding: 0;

}
.main{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background: rgb(187,187,245);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.design{
    width: 350px;
    height: 500px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
}
.box{
    position: relative;
    width: 100%;
    height: 100%;
}
.regpage{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgb(0,0,100,0.8),rgba(0,0,100,0.8)), url('image/R.jpeg');
    padding: 55px;
    box-sizing: border-box;
}
.regpage h2{
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-style: oblique;
}
.input{
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    margin: 5px 0;
    height: 32px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
}
::placeholder{
    color: #fff;
    font-size: 14px;
}
button{
    float: left;
    width: 50%;
    background: transparent;
    border: 1px solid #fff;
    height: 25px;
    border-radius: 20px;
    margin: 20px 0 10px;
    box-sizing: border-box;
    padding: 0 10px;
    color: #fff;
    font-size: 14px;
}

span{
    float: right;
    width: 50%;
    background: transparent;
    border: 1px solid #fff;
    height: 25px;
    border-radius: 20px;
    margin: 20px 0 10px;
    box-sizing: border-box;
   text-align: center;
    color: #fff;
    padding: 4px 0;
    font-size: 14px;
}
button:hover{
    color: aquamarine;
}